<!DOCTYPE html>
<html lang="en">
<head>
    <title>food page</title>
    <style>
    center{
        background-color: orangered;
        border:2px solid black;
        border-radius:100px;
      }
      a{
        background-color: rgb(255, 0, 98);
        color: aliceblue;
        border-radius:30px;
      }
    </style>
</head>
<body>
    <CENTER>
         <h1>this is food page</h1>
         <a href="{% url 'shopping:dress' %}">go to shopping</a>
         <br>
         <a href="{% url 'house' %}">go to home page</a>
    </CENTER>
</body>
</html>